@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');

body {
  height: 100vh;
  background: radial-gradient(
      ellipse 80% 60% at 60% 20%,
      rgba(175, 109, 255, 0.5),
      transparent 65%
    ),
    radial-gradient(
      ellipse 70% 60% at 20% 80%,
      rgba(255, 100, 180, 0.45),
      transparent 65%
    ),
    radial-gradient(
      ellipse 60% 50% at 60% 65%,
      rgba(255, 235, 170, 0.43),
      transparent 62%
    ),
    radial-gradient(
      ellipse 65% 40% at 50% 60%,
      rgba(120, 190, 255, 0.48),
      transparent 68%
    ),
    linear-gradient(180deg, #f7eaff 0%, #fde2ea 100%);
    color: #3b3b3b;
    background-attachment: fixed;
}
